
@use '../globals/utilities' as util;

.dashboard-items {
    --flow-space: var(--space-800);

    --min-item-width: 250px;
    --grid-gap: var(--space-300);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--min-item-width)), 1fr));
    gap: var(--grid-gap);

    @include util.breakpoint(large) {
        --grid-gap: var(--space-500);
    }
}

.dashboard-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-400);
    border-radius: 5px;
    overflow: hidden;
    border-top-style: solid;
    border-top-width: 4px;
    padding-block-start: var(--space-600);
    padding-block-end: var(--space-400);
    text-align: center;
    background-color: var(--item-bg);

    &:is(:hover, :focus-visible) {
        background-color: var(--item-bg-hover);
    }
}

[data-platform="facebook"] {
    border-top-color: var(--clr-accent-100);
}

[data-platform="twitter"] {
    border-top-color: var(--clr-accent-200);
}

[data-platform="youtube"] {
    border-top-color: var(--clr-accent-500);
}

.dashboard-item__heading {
    font-size: var(--fs-600);
    color: var(--text-color2);

    & span {
        font-size: var(--fs-200);
        font-weight: var(--fw-regular);
        text-transform: uppercase;
        letter-spacing: .4em;
        margin-block-start: var(--space-200);
    }
}

.social-media {
    display: flex;
    align-items: center;
    gap: var(--space-200);
}

.growth {
    display: flex;
    align-items: center;
    gap: var(--space-100);
}