@use '../globals/utilities' as util;

.intro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--space-500);

    @include util.breakpoint(large) {
        flex-direction: row;
    }
}

.intro__text {
    border-bottom: 1px solid var(--clr-neutral-500);

    @include util.breakpoint(large) {
        border-bottom: initial;
    }
}

.main-heading {
    font-size: clamp(var(--fs-300), 1.375rem + 0.625vw, var(--fs-400));
    color: var(--text-color2);
}

.tagline {
    --flow-space: var(--space-100);
}

.theme-toggle {
    appearance: none;
}


@media (prefers-reduced-motion: no-preference) {

}
