@use '../globals/utilities' as util;

.intro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--space-500);

    @include util.breakpoint(large) {
        flex-direction: row;
    }
}

.intro__text {
    border-bottom: 1px solid var(--clr-neutral-600);
    padding-block-end: var(--space-500);

    @include util.breakpoint(large) {
        border-bottom: initial;
        padding-block-end: initial;
    }
}

.main-heading {
    font-size: clamp(var(--fs-300), 1.375rem + 0.625vw, var(--fs-400));
    color: var(--text-color2);
}

.tagline {
    --flow-space: var(--space-100);
}

.intro__toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--space-300);

    @include util.breakpoint(large) {
        justify-content: initial;
    }    
}

.intro__toggle > * {
    cursor: pointer;
}

.theme-toggle {
    appearance: none;
}

.theme-toggle {
    position: relative;
    content: "";
    display: block;
    width: 48px;
    height: 24px;
    border-radius: 12px;
    background-color: var(--toggle-bg);
    transform: translateX(0%);
}

.theme-toggle::after {
    position: absolute;
    inset: 3px 3px 3px 3px;
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: var(--toggle-circle);
}


/* @keyframes toggleSlide {
    from {
        inset: 3px 3px 3px 3px;
      }
    
      to {
        inset: 3px 10px 3px 55%;
      }
} */
