
@use '../globals/utilities' as util;

.wrapper {
    --min-item-width: 250px;
    --grid-gap: var(--space-300);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--min-item-width)), 1fr));
    gap: var(--grid-gap);

    @include util.breakpoint(large) {
        --grid-gap: var(--space-600);
    }
}

.overview__item {
    background-color: red;
}

.number {
    font-size: var(--fs-600);
}