
@use '../globals/utilities' as util;

.overview {
    --flow-space: var(--space-800);
}

.overview__heading {
    color: var(--text-color2);
}

.overview__items__wrapper {
    --min-item-width: 250px;
    --grid-gap: var(--space-300);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--min-item-width)), 1fr));
    gap: var(--grid-gap);

    @include util.breakpoint(large) {
        --grid-gap: var(--space-500);
    }
}

.overview__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--space-300);
    background-color: var(--item-bg);
    padding: var(--space-500);

    &:is(:hover, :focus-visible) {
        background-color: var(--item-bg-hover);
    }
}

.number {
    font-size: var(--fs-500);
    color: var(--text-color2);
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--space-400);
}

.column-2 {
    align-items: center;
}

.growth-percentage {
    display: flex;
    align-items: center;
    gap: var(--space-100);
}