
.overview__items {
    --min-item-width: 300px;
    --grid-row-gap: var(--space-300);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--min-item-width)), 1fr));
    gap: var(--grid-row-gap);
}

.overview__item {
    background-color: red;
}

.number {
    font-size: var(--fs-600);
}