
/* BASE STYLES */

body {
    --body-bg: var(--clr-primary-100);
    background-color: var(--body-bg);
    font-family: var(--ff-primary);
    font-weight: var(--fw-bold);
}

body:has(.theme-toggle:checked) {
    --body-bg: var(--clr-neutral-100);
}

[data-growth="positive"] {
    color: var(--clr-primary-200);
}

[data-growth="negative"] {
    color: var(--clr-primary-300);
}

.main {
    --max-width: 1200px;
    width: min(100% - 40px, var(--max-width));
    margin-inline: auto;
    outline: 2px solid darkgreen;
}

:is(.social-media-handle, .growth__text, .overview__item__growth) {
    font-size: var(--fs-100);
}

span {
    display: block;
}